#main-section{
  background-color: red;
  font-family: "Montserrat", sans-serif;
}
p{
  font-size: 12px;
}
.container{
  display: flex;
  background-color: green;
  max-width: 520px;
}
.percant_part{
  background-color: blue;
  max-width: 30%;
}
h1{
  font-size: 45px;
  color: red;

}
h2{
  font-size: 30px;
}
.percant_part p{
  background-color: blue;
  max-width: 30%;
}
.descripe_part{
  max-width: 70%;
  background-color: paleturquoise;
}
.descripe_part p{
  margin-top: 30px;
}


 